# Database Connection (Supabase)
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.rbzbltzjgtpmkmtmefuf.supabase.co:5432/postgres?sslmode=require"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.rbzbltzjgtpmkmtmefuf.supabase.co:5432/postgres?sslmode=require"

# Server
PORT=3333
NODE_ENV=development

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
